
.selector-for-some-widget {
    box-sizing: content-box;
}

.navbar {
    min-height: 80px;
  }
  
  .navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
  }
  
  .navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
  }
  
  @media (min-width: 768px) {
    .navbar-nav > li > a {
      /* (80px - line-height of 27px) / 2 = 26.5px */
      padding-top: 26.5px;
      padding-bottom: 26.5px;
      line-height: 27px;
    }
  }

.my-card {
    justify-content: center;
}
.card-subtitle{
  display: flex;
  justify-content: center;
}
.card-title{
  display: flex;
  justify-content: center;
}

.first-img {
  position: absolute;
  background: rgb(57, 96, 202);
  margin-left: 50%;
  margin-top: 12em;
  z-index: -1;
  padding-top: 2em;
  border-top-left-radius: 20% 100%;
  border-bottom-left-radius: 20% 100%;
  height: 20em;
  width: 40%;
  @media only screen and (min-width: 420px) {
    margin-top: 5em;
    width: 10%;
    z-index: -1;
  }
} 

.my-img{
  margin-top:-80px;
 
}

.second-img {
  position: absolute;
  background: rgb(57, 96, 202);
  padding: 50px;
  margin-right: 0;
  margin-top: 5em;
  z-index: -1;
  padding-top: 2em;
  border-top-right-radius: 20% 100%;
  border-bottom-right-radius: 20% 100%;
  height: 20em;
  width: 50%;
}
