body, html{
  max-width: 100%;
  overflow-x: hidden;
}
nav, footer {
  font-size: 0.9rem;
  letter-spacing: 2px;
}
.selector-for-some-widget {
    box-sizing: content-box;
}

.navbar {
    min-height: 80px;
  }
  
  .navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
  }
  
  .navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
  }
  
  @media (min-width: 768px) {
    .navbar-nav > li > a {
      /* (80px - line-height of 27px) / 2 = 26.5px */
      padding-top: 26.5px;
      padding-bottom: 26.5px;
      line-height: 27px;
    }
  }

.my-card {
    justify-content: center;
}
.card-subtitle{
  display: flex;
  justify-content: center;
}
.card-title{
  display: flex;
  justify-content: center;
}

#first-img {
  background-color: rgb(57, 96, 202);
  border-radius: 0 0 0 7rem;
  height: 15em;
  width: 100%;
  margin-top: 70px;
}
#second-img {
  background-color: #5265e1;
  width: 100%;
  height: 15rem;
  border-radius: 0 0 7rem 0;
  margin-top: 50px;
}

@media (min-width: 992px) {
  #first-img {
    height: 22rem;
    border-radius: 0 0 0 10rem;
    
  }
  #second-img {
    height: 22rem;
    border-radius: 0 0 10rem 0;
  }
}

#hero-text{
  text-align: center;
}  