body, html {
    max-width: 100%;
    overflow-x: hidden;
  }
  
  nav, footer {
    font-size: 0.9rem;
    letter-spacing: 2px; 
  }
  
  $font-family-sans-serif: "Roboto", sans-serif;
  
  $primary: #5265e1;
  $secondary: #fa5959;
  
  #blue-background-right {
    background-color: $primary;
    width: 100%;
    height: 15rem;
    border-radius: 0 0 0 7rem;
  }
  
  #blue-background-left {
    background-color: $primary;
    width: 100%;
    height: 15rem;
    border-radius: 0 0 7rem 0;
  }
  
  $position-values: (
    0: 0,
    15: 15%,
    20: 20%,
    30: 30%,
    50: 50%,
    60: 60%,
    100: 100%,
  );
  
  //buttons style
  $btn-font-size: 1em;
  $btn-font-weight: 500;
  
  .btn-secondary {
    color: white !important;
  }
  
  #btn-secondary {
    
    &:hover {
      background-color: white;
      color: $secondary !important;
    }
  }
  
  #btn-primary {
    $btn-border-width: 4rem;
    &::before {
      color: white;
      $border: 1rem;
    }
  
    &:hover {
      background-color: white;
      color: $primary;
    }
  }
  
  //Tabs
  $nav-link-padding-y: 1rem;
  $nav-link-padding-x: 2rem;
  $nav-tabs-link-active-border-color: none;
  $nav-tabs-border-color: $primary;
  $nav-pills-link-active-color: $primary;
  $nav-link-font-weight: 500;
  $nav-tabs-link-hover-border-color: none;
  
  //Cards
  $card-border-color: none;
  
  //Accordion
  $accordion-button-color: $primary;
  
  //Footer
  $input-focus-width: 0.5rem;
  
  hr.style-dotted {
    border-top: 0.4rem dotted #8c8b8b;
  }
  
  .icon {
    &:hover path {
      fill: $secondary;
    }
  }
  
  @media (min-width: 992px) {
    #blue-background-right {
      height: 22rem;
      border-radius: 0 0 0 10rem;
    }
  
    #blue-background-left {
      height: 22rem;
      border-radius: 0 0 10rem 0;
    }
  
    #bookmark {
      text-align: left;
    }
  }
  @media (max-width: 767.98px) {
    #bookmark {
      text-align: center;
      margin-top: 2rem;
    }
    #simple-bookmark {
      text-align: center;
    }
  
    #footer-links {
      display: flex;
      flex-direction: column;
      padding-bottom: 2rem;
    }
  
    #submit-btn {
      padding-top: 1rem;
    }
  }
  
  @import "../node_modules/bootstrap/scss/mixins/breakpoints";
  @import "../node_modules/bootstrap/scss/mixins";
  @import "../node_modules/bootstrap/scss/bootstrap";
  