@use 'colors.scss';

p{
    color: colors.$letters-color;
}

.first-img {
    position: absolute;
    background: colors.$background-image-color;
    margin-left: 50%;
    margin-top: 12em;
    z-index: -1;
    padding-top: 2em;
    border-top-left-radius: 20% 100%;
    border-bottom-left-radius: 20% 100%;
    height: 20em;
    width: 100%;
}
